<!-- div.container>div.row>div.col-xs-12>h1{Items :}+ul.list-group>app-post-list -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-dark align-items-center">
        <h1>Items Shop :</h1>
      </div>
      <br>
      <ul class="list-group">
        <app-post-list 
        *ngFor="let item of items"
        [itemName]="item.name"
        [itemContent]="item.content"
        [itemPrice]="item.price"
        [itemStock]="item.in_stock"
        [itemDate]="item.created_at"
        ></app-post-list>
      </ul>
    </div>
  </div>
</div>